/* В этом файле будут храниться все значения переменных в исходном состоянии, а так же их изменения в зависимости от ширины устройства */
:root {
    --main-font: 'Inter';
    --accent-font: 'PressStart2P-Regular';
    --bg-color: #fff;
    --border-color: #000;
    --accent-color: #000;
    --mix-blend-color: #fff;
    --stroke-color: #fff;
    --heart-color: red;
    --header-weight: 700;
    --text-weight: 400;
    --linear-gradient-first: #e7e7e7;
    --linear-gradient-second: #1a1a1a;
    --bg-stripe-color: #d3d3d3;
    --bg-gradient-start: #e7e7e7 0.01%;
    --bg-gradient-end: #1a1a1a;
}